.library-svg {
  fill: $elem-clr-secondary;
  width: 25px;
  height: 25px;
}

.search-icon {
  width: 16px;
  height: 16px;
}

.delete-icon{
  fill: $elem-clr-secondary;
  width: 16px;
  height: 16px;
}

.edit-icon{
  fill: $elem-clr-secondary;
  width: 16px;
  height: 16px;
}
.add-station-icon{
  fill: $elem-clr-secondary;
  width: 20px;
  height: 20px;
}