// Colors
// Background color variables
$bg-clr-primary: #000;
$bg-clr-secondary: #121212;

// Element color variables
$elem-clr-primary: #fff;
$elem-clr-secondary: #a7a7a7;
$elem-clr-accent: #1fdf64;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;