// Colors
// Background color variables
$bg-clr-primary: #000;
$bg-clr-secondary: #2fc661;

// Element color variables
$elem-clr-primary: #fff;
$elem-clr-secondary: #a7a7a7;
$elem-clr-accent: #1fdf64;

// Border radius
$container-border-radius: 8px;
$btn-round-border-radius: 50%;
$btn-pill-border-radius: 64px;

// Layout
$grid-gap: 8px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;