.player-panel {
  @include for-mobile-layout {
    display: none;
  }

  @include for-narrow-layout {
    grid-column: 1 / -1;
    display: flex;
    height: 72px;
  }

  @include for-normal-layout {
    grid-column: 1 / -1;
    display: flex;
    height: 72px;
  }

  .playback-controls {
    .playback-buttons {
      gap: 16px;

      button {
        padding: 0;
        margin: 0;
      }

      .play-btn {
        background-color: white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin: 0 1px;

        svg {
          fill: black;
          width: 16px;
          height: 16px;
        }
      }

      .play-btn:hover {
        width: 34px;
        height: 34px;
        margin: 0;

        svg {
          width: 18px;
          height: 18px;
        }
      }

      .next-btn,
      .prev-btn,
      .skip-forward-btn,
      .skip-backward-btn {
        width: 32px;
        height: 32px;

        svg {
          fill: $elem-clr-secondary;
          width: 16px;
          height: 16px;
        }
      }

      .next-btn:hover,
      .prev-btn:hover,
      .skip-forward-btn:hover,
      .skip-backward-btn:hover {
        svg {
          fill: white;
          width: 18px;
          height: 18px;
        }
      }
    }

    .progress-bar {
    }
  }
}
